<% include header.ejs %>
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Components</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Starter Page</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
                href="javascript:;">Action</a>
              <a class="dropdown-item" href="javascript:;">Another action</a>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
              <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <!--end breadcrumb-->
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="mb-4">
                <h5 class="mb-3">Tên sản phẩm</h5>
                <input type="text" class="form-control" placeholder="write title here....">
              </div>
              <div class="mb-4">
                <h5 class="mb-3">Mô tả</h5>
                <textarea class="form-control" cols="4" rows="6" placeholder="write a description here.."></textarea>
              </div>
              <div class="mb-4">
                <h5 class="mb-3">Hình ảnh</h5>
                <input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png"
                  multiple>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center gap-3">
                <button type="button" class="btn btn-outline-danger flex-fill"><i
                    class="bi bi-x-circle me-2"></i>Discard</button>
                <button type="button" class="btn btn-outline-success flex-fill"><i
                    class="bi bi-cloud-download me-2"></i>Save Draft</button>
                <button type="button" class="btn btn-outline-primary flex-fill"><i
                    class="bi bi-send me-2"></i>Publish</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="mb-3"></h5>
              <div class="row g-3">
                <div class="col-12">
                  <label for="AddCategory" class="form-label">Danh mục</label>
                  <select class="form-select" id="AddCategory">
                    <option value="0">Topwear</option>
                    <option value="1">Bottomwear</option>
                    <option value="2">Casual Tshirt</option>
                    <option value="3">Electronic</option>
                  </select>
                </div>
                <div class="col-12">
                  <label for="AddCategory" class="form-label">Còn hàng</label>
                  <select class="form-select" id="AddCategory">
                    <option value="true">Có</option>
                    <option value="false">Không</option>
                  </select>
                </div>
              </div><!--end row-->
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="mb-3">Thuộc tính</h5>
              <div class="row g-3">
                <div class="col-6">
                  <label for="Size" class="form-label">Size</label>
                  <input type="text" class="form-control" id="Size" placeholder="Size">
                </div>
                <div class="col-6">
                  <label for="Price" class="form-label">Giá tiền</label>
                  <input type="text" class="form-control" id="Price" placeholder="Price">
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button type="button" class="btn btn-primary" onclick="addVariant()">Thêm thuộc tính</button>
                  </div>
                </div>
              </div>
              <div id="variantsContainer"></div>
            </div>
          </div>

        </div>

      </div><!--end row-->
    </div>
  </main>

  <% include footer.ejs %>